In [63]:
import pandas as pd

In [65]:
df = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data/PKT_sampling/dos_PKT_sampling@50%.csv", header=None)

In [66]:
df.head(5)

   0     1  2    3
0  0  1032  0  dos
1  0  1032  0  dos
2  0  1032  0  dos
3  0   520  0  dos
4  0   520  0  dos

In [67]:
print("Read {} rows.".format(len(df)))

Read 17240 rows.

In [68]:
df.columns = ['duration', 'forw_byte', 'back_byte','outcome']

In [69]:
df['total_byte']=df['forw_byte'] + df['back_byte']

In [70]:
cols = ['duration', 'forw_byte', 'back_byte','total_byte','outcome']
df = df[cols]

In [71]:
#del df['total_byte']

In [72]:
df1 = df[df.total_byte!=0]

In [73]:
print("Read {} rows.".format(len(df1)))

Read 12462 rows.

In [74]:
df1.head(10)

    duration  forw_byte  back_byte  total_byte outcome
0          0       1032          0        1032     dos
1          0       1032          0        1032     dos
2          0       1032          0        1032     dos
3          0        520          0         520     dos
4          0        520          0         520     dos
5          0       1032          0        1032     dos
6          0       1032          0        1032     dos
7          0       1032          0        1032     dos
10         0       1032          0        1032     dos
12         0       1032          0        1032     dos

In [75]:
# df_normal = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data/normal/flow_100_.csv", header=None)

In [76]:
df_normal = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data/PKT_sampling/rand/packet_rand_20.csv", header=None)

In [77]:
df_normal.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,back_byte,back_pkt,tot_byte,dst_ip,dst_port,duration,forw_byte,forw_pkt,inter_arrival_time_summed,tot_packet,rel_start,src_ip,src_port
1,0,0,280105672,10.2.4.146,9876,48.289395,280105672,191893,48.289395,191893,0.000152,10.2.4.179,40920
2,1740,3,2020,10.2.25.108,60788,0.003993,280,2,0.003993,5,0.000154,10.2.253.247,51127
3,9720,15,14712,10.2.27.29,1571,48.000223,4992,45,48.000223,60,0.00031,10.2.27.33,55467
4,1038,61,257520,10.2.1.37,43634,37.432623,256482,189,37.432623,250,0.000314,10.2.1.32,1433

In [78]:
print("Read {} rows.".format(len(df_normal)))

Read 14474 rows.

In [79]:
# df_nc = df_normal[[0,3,4,8]]
df_nc = df_normal[[5,6,0,2]]
df_nr = df_nc.drop(df_normal.index[0])

In [80]:
# df_nr.drop([2])

In [81]:
df_nr.head(5)

           5          6       0          2
1  48.289395  280105672       0  280105672
2   0.003993        280    1740       2020
3  48.000223       4992    9720      14712
4  37.432623     256482    1038     257520
5  44.850561     150501  102046     252547

In [82]:
df_nr.insert(loc=4, column='outcome', value='normal')

In [83]:
df_nr.columns = ['duration', 'forw_byte', 'back_byte', 'total_byte', 'outcome']

In [84]:
df_nr.head(5)

    duration  forw_byte back_byte total_byte outcome
1  48.289395  280105672         0  280105672  normal
2   0.003993        280      1740       2020  normal
3  48.000223       4992      9720      14712  normal
4  37.432623     256482      1038     257520  normal
5  44.850561     150501    102046     252547  normal

In [85]:
df_1x = pd.concat([df_nr, df1])

In [86]:
df_1x.head(5)

    duration  forw_byte back_byte total_byte outcome
1  48.289395  280105672         0  280105672  normal
2   0.003993        280      1740       2020  normal
3  48.000223       4992      9720      14712  normal
4  37.432623     256482      1038     257520  normal
5  44.850561     150501    102046     252547  normal

In [87]:
df_1x.to_csv('train_PKT_sampling@20_50%.csv')

In [ ]:
# df_1x.to_csv('train_1x.csv')