In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data_ddos_kdd/dos_PKT_sampling_tenth_kdd.csv")

In [3]:
df.head(5)

   Unnamed: 0  duration  src_bytes  dst_bytes outcome
0       33649         0          0          0     dos
1      295164         0       1032          0     dos
2      370090         0        520          0     dos
3      212252         0       1032          0     dos
4      185475         0       1032          0     dos

In [4]:
# df.drop([0])

In [5]:
print("Read {} rows.".format(len(df)))

Read 2000 rows.

In [6]:
df.columns = ['seq','duration', 'forw_byte', 'back_byte','outcome']

In [7]:
df.head(5)

      seq  duration  forw_byte  back_byte outcome
0   33649         0          0          0     dos
1  295164         0       1032          0     dos
2  370090         0        520          0     dos
3  212252         0       1032          0     dos
4  185475         0       1032          0     dos

In [8]:
# df.drop(['seq'],axis=1)

In [9]:
df['tot_byte']=df['forw_byte'] + df['back_byte']

In [10]:
cols = ['duration', 'forw_byte', 'back_byte','tot_byte','outcome']
df = df[cols]

In [11]:
#del df['total_byte']

In [12]:
df.head(5)

   duration  forw_byte  back_byte  tot_byte outcome
0         0          0          0         0     dos
1         0       1032          0      1032     dos
2         0        520          0       520     dos
3         0       1032          0      1032     dos
4         0       1032          0      1032     dos

In [13]:
# df1 = df[df.total_byte!=0]

In [14]:
# print("Read {} rows.".format(len(df1)))

In [15]:
# df1.head(10)

In [16]:
# df_normal = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data/normal/flow_100_.csv", header=None)

In [17]:
df_normal = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data_ddos_kdd/rand/packet_rand_20.csv")

In [18]:
df_normal.head(5)

,back_byte,back_pkt,tot_byte,dst_ip,dst_port,duration,forw_byte,forw_pkt,inter_arrival_time_summed,tot_packet,rel_start,src_ip,src_port
0,0,0,280105672,10.2.4.146,9876,48.289395,280105672,191893,48.289395,191893,0.000152,10.2.4.179,40920
1,1740,3,2020,10.2.25.108,60788,0.003993,280,2,0.003993,5,0.000154,10.2.253.247,51127
2,9720,15,14712,10.2.27.29,1571,48.000223,4992,45,48.000223,60,0.000310,10.2.27.33,55467
3,1038,61,257520,10.2.1.37,43634,37.432623,256482,189,37.432623,250,0.000314,10.2.1.32,1433
4,102046,146,252547,10.2.4.166,26080,44.850561,150501,148,44.850561,294,0.000316,10.2.21.29,389

In [19]:
print("Read {} rows.".format(len(df_normal)))

Read 14473 rows.

In [20]:
# df_nc = df_normal[[0,3,4,8]]
cols = ['duration', 'forw_byte', 'back_byte','tot_byte']
df_nc = df_normal[cols]
# df_nr = df_nc.drop(df_normal.index[0])

In [21]:
# df_nr.drop([2])

In [22]:
df_nc.head(5)

    duration  forw_byte  back_byte   tot_byte
0  48.289395  280105672          0  280105672
1   0.003993        280       1740       2020
2  48.000223       4992       9720      14712
3  37.432623     256482       1038     257520
4  44.850561     150501     102046     252547

In [23]:
df_nc.insert(loc=4, column='outcome', value='normal')

In [24]:
# df_nr.columns = ['duration', 'forw_byte', 'back_byte', 'total_byte', 'outcome']

In [25]:
df_nc.head(5)

    duration  forw_byte  back_byte   tot_byte outcome
0  48.289395  280105672          0  280105672  normal
1   0.003993        280       1740       2020  normal
2  48.000223       4992       9720      14712  normal
3  37.432623     256482       1038     257520  normal
4  44.850561     150501     102046     252547  normal

In [26]:
df_1x = pd.concat([df, df_nc])

In [27]:
df_1x.head(5)

   duration  forw_byte  back_byte  tot_byte outcome
0       0.0          0          0         0     dos
1       0.0       1032          0      1032     dos
2       0.0        520          0       520     dos
3       0.0       1032          0      1032     dos
4       0.0       1032          0      1032     dos

In [28]:
df_1x.to_csv('train_PKT_sampling@20_10%.csv')

In [29]:
# df_1x.to_csv('train_1x.csv')