In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("/Users/tsaiflow/Desktop/NN&Sampling/data_ddos_kdd/kdd_ddos/train_dos.csv", header=None)

In [14]:
df.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)
# df1.dropna(inplace=True,axis=1)

# The CSV file has no column heads, so add them
df.columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    
    
    'outcome'
]

In [15]:
df.head(5)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,outcome
0,0,tcp,http,SF,54540,8314,0,0,0,2,...,1,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0,back.
1,0,tcp,http,SF,54540,8314,0,0,0,2,...,2,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0,back.
2,0,tcp,http,SF,54540,8314,0,0,0,2,...,3,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,back.
3,0,tcp,http,SF,54540,8314,0,0,0,2,...,4,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,back.
4,0,tcp,http,SF,54540,8314,0,0,0,2,...,5,1.0,0.0,0.20,0.0,0.0,0.0,0.0,0.0,back.

In [16]:
print("Read {} rows.".format(len(df)))

Read 391458 rows.

In [17]:
df1 = df.drop([
    'protocol_type',
    'service',
    'flag',
    'land',
    'wrong_fragment',
    'urgent',
    
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    
    
    'outcome'], axis =1)

In [18]:
df1.head(5)

   duration  src_bytes  dst_bytes
0         0      54540       8314
1         0      54540       8314
2         0      54540       8314
3         0      54540       8314
4         0      54540       8314

In [19]:
df1.insert(loc=3, column='outcome', value='dos')

In [20]:
df1.head(5)

   duration  src_bytes  dst_bytes outcome
0         0      54540       8314     dos
1         0      54540       8314     dos
2         0      54540       8314     dos
3         0      54540       8314     dos
4         0      54540       8314     dos

In [21]:
df_1 = df1.sample(n=2000)

In [22]:
df_1.to_csv('dos_PKT_sampling_tenth_kdd.csv')